.don3{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.entertainment{
    display: flex;
    background-color: rgb(248, 246, 242);
    margin-top: 50px;
    margin-bottom: 50px;
}
.don3c{
    flex: 25%;
    margin-right: 30px;
}