.topBar{
  height: 60px;
}
  
  .bhagaA{
    background-color: #333545;
  }
  .bhagaB{
    background-color: #222539;
    width: 100%;
    height: 40px;
  }
  
  img{
    border-radius: 5px;
    height: fit-content;
  }
  .don1{
    margin-left: 140px;
    margin-right: 140px;
  }