.don5{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.near{
    display: flex;
    background-color: white;
    margin-top: 9px;
}
.don5c{
    
    margin-right: 30px;
}