.don7{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.outdoor{
    display: flex;
    background-color: white;
    margin-top: 9px;
}
.don7c{
    flex: 25%;
    margin-right: 30px;
}